@use "variable" as *;
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  color: $dt-text-color;
}

body {
  background-color: $dt-gray-bg;
}

.cursor-pointer {
  cursor: pointer;
}

.dt-container {
  border: 1px solid $dt-gray-stroke;
  border-radius: $dt-rounded-2xl;
  background-color: $dt-white-bg;
  box-shadow: $dt-shadow-sm;
}
