@use "variable" as *;

/* DashboardCard */
.dt-dashboard-card {
  @include flex($content: space-between, $gap: $dt-spacing-8);

  padding: $dt-spacing-8;
  max-width: 400px;
  cursor: pointer;

  .dt-dashboard-card__content {
    @include flexCol($gap: $dt-spacing-2);

    word-wrap: break-word;
    width: 80%;
  }
}

/* KleberMenu */
.dt-kleber-menu {
  display: flex;
  flex-wrap: wrap;
  gap: $dt-spacing-6;

  &.dt-container {
    padding: $dt-spacing-2-5 $dt-spacing-2;
  }
}

/* ProgressTracker */
.dt-progress-tracker {
  @include flexCenter($content: space-between, $gap: $dt-spacing-8);

  position: relative;

  width: fit-content;

  @media only screen and (max-width: 640px) {
    flex-wrap: wrap;

    .dt-progress-tracker__center-line {
      display: none;
    }
  }

  &.dt-container {
    padding: $dt-spacing-4;
  }

  .dt-progress-tracker-item__container {
    @include flexCenter($gap: $dt-spacing-2);

    padding: 4px 16px 4px 4px;

    border-radius: $dt-rounded-full;
    background-color: $dt-blue-bg-50;
    border: 1px solid $dt-gray-stroke;
    z-index: 999;

    span {
      color: $dt-blue-text;
    }
  }

  .dt-progress-tracker__item {
    @include flexCenter();

    width: 40px;
    height: 40px;

    border-radius: $dt-rounded-full;
    background-color: $dt-white-bg;
    border: 1px solid $dt-gray-stroke;
    z-index: 999;

    font-weight: $dt-font-weight-bold;
  }

  .dt-progress-tracker__item--checked {
    background-color: $dt-badge-success-bg;
  }

  .dt-progress-tracker__item--active {
    background-color: $dt-primary-button;
    color: $dt-white-text;
  }

  .dt-progress-tracker__center-line {
    border: 1px solid $dt-gray-stroke;
    width: 92%;
    position: absolute;
    margin: auto;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

/*ServiceCard */
.dt-service-card {
  @include flexCol($content: space-between, $gap: $dt-spacing-4);

  padding: $dt-spacing-6;
  max-width: 350px;

  .dt-service-card__top-wrapper {
    @include flexCol($gap: $dt-spacing-4);

    .dt-service-card__icon-wrapper {
      @include flexCenter($content: space-between);
    }

    .dt-service-card__content-wrapper {
      @include flexCol($gap: $dt-spacing-4);

      .dt-service-card__main-content {
        @include flexCol($gap: $dt-spacing-2);
      }

      .dt-service-card__checklist {
        @include flexCol($gap: $dt-spacing-1);

        .dt-service-card__checklist-item {
          @include flexCenter($content: flex-start, $gap: $dt-spacing-2);
        }
      }
    }
  }

  .dt-service-card__bottom-wrapper {
    @include flexCol($gap: $dt-spacing-2);
    width: 100%;

    .dt-service-card__button-group {
      @include flexCol($gap: $dt-spacing-2);
    }
  }
}

/* Badge */
.dt-badge {
  @include flexCenter($gap: $dt-spacing-1-5);
  @include fitContent();

  padding: $dt-spacing-1 $dt-spacing-3;
  border-radius: $dt-rounded-full;
  font-size: $dt-text-sm;

  .dt-badge__icon {
    @include flexCenter();
  }

  &.dt-badge--success {
    color: $dt-badge-success-text;
    background-color: $dt-badge-success-bg;

    &.dt-badge--outline {
      color: $dt-badge-success-text;
    }
  }

  &.dt-badge--info {
    color: $dt-badge-info-text;
    background-color: $dt-badge-info-bg;

    &.dt-badge--outline {
      color: $dt-badge-info-text;
    }
  }

  &.dt-badge--warning {
    color: $dt-badge-warning-text;
    background-color: $dt-badge-warning-bg;

    &.dt-badge--outline {
      color: $dt-badge-warning-text;
    }
  }

  &.dt-badge--error {
    color: $dt-badge-error-text;
    background-color: $dt-badge-error-bg;

    &.dt-badge--outline {
      color: $dt-badge-error-text;
    }
  }

  &.dt-badge--outline {
    background-color: $dt-white-bg;
    border: 1px solid;
  }

  &.dt-badge--md {
    padding: $dt-spacing-2 $dt-spacing-3-5;
  }

  &.dt-badge--lg {
    padding: $dt-spacing-3 $dt-spacing-5;
    font-size: $dt-text-base;
  }

  &.dt-badge--notif {
    @include flexCenter();

    padding: $dt-spacing-1;
    font-size: $dt-text-xs;
    font-weight: 600;
  }
}

/* Button */
.dt-btn {
  @include fitContent();
  @include flexCenter($gap: $dt-spacing-1);

  cursor: pointer;
  padding: $dt-spacing-3 $dt-spacing-5;
  border-radius: $dt-rounded-lg;

  font-size: $dt-text-sm;
  color: $dt-white-text;
  background-color: $dt-primary-button;
  transition: 0.3s;

  &.dt-btn--primary {
    background-color: $dt-primary-button;

    &:hover {
      @include btnHoverBGColor($dt-primary-button);
    }

    &.disabled,
    &:disabled {
      @include btnDisabledBGColor($dt-primary-button);
    }
  }

  &.dt-btn--success {
    background-color: $dt-success-button;

    &:hover {
      @include btnHoverBGColor($dt-success-button);
    }

    &.disabled,
    &:disabled {
      @include btnDisabledBGColor($dt-success-button);
    }

    &.dt-btn--ghost {
      background-color: $dt-white-bg;
      color: $dt-success-button;
    }

    &.dt-btn--outline {
      border: 1px solid $dt-success-button;
      background-color: $dt-white-bg;
      color: $dt-success-button;
    }
  }

  &.dt-btn--error {
    background-color: $dt-error-button;

    &:hover {
      @include btnHoverBGColor($dt-error-button);
    }

    &.disabled,
    &:disabled {
      @include btnDisabledBGColor($dt-error-button);
    }

    &.dt-btn--ghost {
      background-color: $dt-white-bg;
      color: $dt-error-button;
    }

    &.dt-btn--outline {
      border: 1px solid $dt-error-button;
      background-color: $dt-white-bg;
      color: $dt-error-button;
    }
  }

  /* Outline & Ghost button */
  &.dt-btn--ghost {
    background-color: $dt-white-bg;
    color: $dt-primary-button;
  }

  &.dt-btn--outline {
    border: 1px solid $dt-primary-button;
    background-color: $dt-white-bg;
    color: $dt-primary-button;
  }
}

/* Button size */
.dt-btn--md {
  padding: $dt-spacing-2 $dt-spacing-5;
}

.dt-btn--sm {
  padding: $dt-spacing-1 $dt-spacing-3;
}

/* Input */
.dt-input {
  height: $dt-input-height;
  font-size: $dt-text-base;
  padding: 0 $dt-spacing-2 0 $dt-spacing-2;
  background-color: $dt-white-bg;
  border: 2px solid $dt-gray-stroke;
  border-radius: $dt-rounded-lg;
  transition: 180ms box-shadow ease-in-out;

  &::placeholder {
    color: inherit;
  }

  &:focus {
    border-color: $dt-blue-stroke;
    box-shadow: 0 0 0 3px $dt-blue-shadow-10;
    outline: 3px solid transparent;
  }

  &:disabled {
    background-color: $dt-gray-disabled;
    border-color: $dt-gray-stroke;
    color: $dt-disabled-text-color;
  }
}

/* Dropdown */
select {
  height: $dt-input-height;
  width: 100%;
  font-size: $dt-text-base;
  padding: 0 $dt-spacing-2 0 $dt-spacing-2;
  background-color: $dt-white-bg;
  border: 2px solid $dt-gray-stroke;
  border-radius: $dt-rounded-lg;
  transition: 180ms box-shadow ease-in-out;

  &::placeholder {
    color: inherit;
  }

  &:focus {
    border-color: $dt-blue-stroke;
    box-shadow: 0 0 0 3px $dt-blue-shadow-10;
    outline: 3px solid transparent;
  }
}

/* Input with Icon */
.dt-input-icon__wrapper {
  position: relative;

  @include flexCenter($content: space-between);

  border: 2px solid $dt-gray-stroke;
  padding: 0 $dt-spacing-2 0 $dt-spacing-2;
  border-radius: $dt-rounded-lg;
  color: $dt-disabled-text-color;
  background-color: $dt-gray-disabled;
  width: 100%;

  input.dt-input-icon {
    border: none;
    outline: none;
    height: $dt-input-height;
    font-size: $dt-text-base;
    color: $dt-disabled-text-color;

    &::placeholder {
      color: inherit;
    }
  }
}

/* MenuItem */
.dt-menu-item {
  padding: $dt-spacing-2 $dt-spacing-2-5;
  border-radius: $dt-rounded-lg;
  cursor: pointer;

  &:hover {
    background-color: $dt-blue-bg-50;
    color: $dt-blue-text;
  }

  &:hover > * {
    color: $dt-blue-text;
  }

  &:active,
  &.active {
    background-color: $dt-blue-bg-50;
    color: $dt-blue-text;
  }

  .dt-menu-item__content {
    @include flexCenter($content: start, $gap: $dt-spacing-1);
  }
}

/* ProgressBar */
.dt-progress {
  width: 300px;
  // height: 25px;
  background-color: $dt-green-bg-50;
  border-radius: $dt-rounded-full;

  .dt-progress__bar {
    @include flexCenter();

    font-size: $dt-text-sm;
    color: $dt-white-text;
    background-color: $dt-green-bg;
    border-radius: $dt-rounded-full;
    padding-top: $dt-spacing-1;
    padding-bottom: $dt-spacing-1;
    height: 100%;
  }
}

/* Table */
table.dt-table {
  width: 100%;
  background-color: $dt-white-bg;
  border-spacing: 0;
  border-collapse: separate;
  overflow: hidden;
  border: 1px solid $dt-gray-stroke;
  border-radius: $dt-rounded-2xl;

  thead {
    height: 60px;
    background-color: $dt-gray-bg;
    text-align: left;

    tr > th {
      color: $dt-heading-text-color;
      font-weight: 600;
    }
  }

  td,
  th {
    padding: $dt-spacing-4;
    border-bottom: 1px solid $dt-gray-stroke;
  }

  tr:last-child td {
    border-bottom: 0;
  }
}
