@use "variable" as *;

@mixin flex($content: start, $gap: $dt-spacing-6) {
  display: flex;
  justify-content: $content;
  gap: $gap;
}

@mixin flexCol($gap: $dt-spacing-6) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin flexCenter($content: center, $gap: $dt-spacing-6) {
  display: flex;
  justify-content: $content;
  align-items: center;
  gap: $gap;
}

@mixin fitContent() {
  width: fit-content;
  height: fit-content;
}

@mixin fitContainer() {
  width: 100%;
  height: 100%;
}
