@use "./partials" as *;

.text-dark-heading {
  color: #334155;
  font-weight: 550;
  font-size: 36px;
}

.page__wrapper {
  width: 589px;
}

.component__wrapper {
  background-color: #e2e8f0;
  width: 100%;
  border-radius: 12px;
  padding: 24px;
}
